<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic Vue Js - HelloWorld App</title>

  <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
  <!-- Using via Google Web Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- https://tailwindcss.com/docs/installation -->
  <!-- Using Tailwind via CDN -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

  <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
  <div id="app">
      <form @submit.prevent="checkForm">
        <div class="container w-2/5 p-8 mx-auto mt-10 border rounded-lg">
            <h1 class="text-2xl pt-4 pb-4">Registration Form</h1>
            <p v-if="errors.length" class="text-red-500">
                <b>Please correct the following error(s):</b>
                <ul>
                   <li v-for="error in errors" class="text-red-500">{{ error }}</li> 
                </ul>
            </p>
            <div class="grid grid-cols-2 gap-4">
                <div class="flex flex-col">
                    <label for="firstname" class="text-sm leading-7 text-gray-600">First Name</label>
                    <input type="text" id="firstname" v-model="firstname" name="firstname" class="bg-gray-100 rounded px-4 py-2 mb-4">
                </div>
                <div class="flex flex-col">
                    <label for="lastname" class="text-sm leading-7 text-gray-600">Last Name</label>
                    <input type="text" id="lastname" v-model="lastname" name="lastname" class="bg-gray-100 rounded px-4 py-2 mb-4">
                </div>
                <div class="flex flex-col">
                    <label for="age" class="text-sm leading-7 text-gray-600">Age</label>
                    <input type="text" id="age" v-model="age" name="age" class="bg-gray-100 rounded px-4 py-2 mb-4">
                </div>
                <div class="flex flex-col">
                    <label class="text-sm leading-7 text-gray-600">Gender</label>
                    <div class="flex flex-row pt-2 space-x-2">
                        <input type="radio" id="Male" v-model="gender" name="gender" value="M" class="bg-gray-100 rounded px-4 py-2 mb-4">
                        <label for="Male">Male</label>
                        <input type="radio" id="Female" v-model="gender" name="gender" value="F" class="bg-gray-100 rounded px-4 py-2 mb-4">
                        <label for="Female">Female</label>
                    </div>
                </div>
                <div class="flex flex-col">
                    <label for="email" class="text-sm leading-7 text-gray-600">Email</label>
                    <input type="text" id="email" v-model="email" name="email" class="bg-gray-100 rounded px-4 py-2 mb-4">
                </div>
                <div class="flex flex-col">
                    <label for="phone"class="text-sm leading-7 text-gray-600">Phone Number</label>
                    <input type="text" id="phone" v-model="phone" name="phone" class="bg-gray-100 rounded px-4 py-2 mb-4">
                </div>
                <div class="flex flex-col col-span-2">
                    <label for="chosensubject"class="text-sm leading-7 text-gray-600">Subject</label>
                    <select id="chosensubject" v-model="chosensubject" name="chosensubject" class="bg-gray-100 rounded px-4 py-2 mb-4">
                    <option v-for="subject in subject_lists" :value="subject.subject_id">
                        {{subject.subject_name}}
                    </option>
                </div>
                <div >
                    <input type="submit" value="Submit" class="px-8 py-2 text-white bg-green-500 rounded-lg hover:bg-green-600 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2">
                </div>
            </div>
        </div>                            
      </form>
  </div>

  <!-- my main.js -->
  <script src="./main4.js"></script>
</body>

</html>